body {
	background-color: #ffffff;
}

select {
	width: 75%;
	margin: 8px 0;
	padding: 10px;
	border: none;
	box-sizing: border-box;
	background-color: #edf4f8;
	box-sizing: border-box;
}

form {
	width: 80%;
	margin: auto;
}

input {
	width: 75%;
	margin: 8px 0;
	padding: 10px;
	border: none;
	box-sizing: border-box;
	background-color: #edf4f7;
	box-sizing: border-box;
}

input[type=submit] {
	width: 94%;
	border: 0px solid black;
	background-color: #ffffff;
	border-radius: 1px;
}

label {
	width: 18%;
	padding: 9px;
	background-color: #dbeaf0;
	box-sizing: border-box;
	display: inline-block;
}


.hidden {
	font-size: 0%;
}

.label_head {
	font-size: 150%;
	color: #331100;
	margin-top: 1%;
	margin-bottom: 3%;
}

.menu {
	float: left;
	background-color: #dbdbdb;
	border-radius: 1px;
	border: 5px solid #bfbfbf;
	padding: 20px;
	width: 25%;
	margin-bottom: 1%;
}

#add_tasks_div {
	float: right;
	width: 60%;
	margin-right: 4%;
	margin-bottom: 0%;
}

.workflow {
	float: right;
	background-color: #f2f2f2;
	border-radius: 1px;
	border: 5px solid #dbdbdb;
	margin: auto;
	padding: 20px;
	width: 60%;
	margin-bottom: 1%;
	margin-right: 4%;
}

#add_task_submit {
	width: 20%;
	float: right;
}

#add_session_submit {
	width: 20%;
	float: right;
}

.workflow_task {
	background-color: #8cb3d9;
	padding: 1%;
	margin-bottom: 1%;
	margin-bottom: 1%;
}

.in_progress {
	background-color: #4080bf;
	padding: 1%;
	margin-bottom: 1%;
	margin-bottom: 1%;
}

.remove_task {
	background-color: #b30000;
	padding: 1%;
	float: right;
}

#timer {
	width: 60%;
	margin-right: 5%;
	margin-left: 5%;
	float: right;
	border-radius: 1px;
	border: 5px solid #dbdbdb;
}

.timer {
	padding: 1%;
	margin-left: 40%;
	font-size: 300%;
}

.timer_text {
	margin-left: 40%;
	color: #808080;
}