.box 
{
	margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

h1 
{
	color: orange;
}

#board
{
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

#player1, #player2
{
	width: 20%;
	height: auto;
	float: left;
	margin-bottom: 10px;
	border: 1px solid #888;
}

#player1
{
	clear: left;
	margin-right: 10px;
}

.clear
{
	clear: both;
}