.box 
{
	margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

h1 
{
	color: #888888;
	text-align: center;
	width: 10%;
	margin: auto;
}

#board
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

#player1, #player2
{
	width: auto;
	height: auto;
	border: 1px solid #888;

	margin-bottom: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 10px;
}

#player2 {
	float: right;
	margin-right: 30%; 
}



#player1
{
	float: left;
	clear: left;
	margin-left: 30%;
}

#resetButton {
	margin-left: 42%;
	width: 15%;
	height: 10%;
	background-color: #abcdef;
}

body {
	background-color: #edf4f7;
}