table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

div {
	padding-left :5em;
}

.hidden {
	color: blue;
	height: 0px;
}

p {
	color: blue;	
}
